<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	
	<link rel="stylesheet" type="text/css" href="../css/datetime/wui.min.css">
	<link rel="stylesheet" type="text/css" href="../css/datetime/style.css">
	<script type="text/javascript" src="../js/wui-date.js" charset="utf-8"></script>
	
	<!-- 注意这里base.js已经引入, 引入的是带日期控件的base_date.js 不要重复再引入了-->
	<script type="text/javascript" src="../js/base_date.js" charset="utf-8"></script>

	<!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
	<script type="text/javascript" src="../js/base_pagination.js"></script>
	<script type="text/javascript" src="../js/service/orderService.js"></script>
	<script type="text/javascript" src="../js/service/itemCatService.js"></script>
	<script type="text/javascript" src="../js/service/uploadService.js"></script>
	<script type="text/javascript" src="../js/service/typeTemplateService.js"></script>
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/orderController.js"></script>
 
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="orderController" ng-init="findOrderList()">
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">订单管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="form-group">
                                    		请选择订单状态：<select>
                                         	<option value="">全部</option>      
                                         	<option value="">未付款</option>    
                                         	<option value="">已付款未发货</option>    
                                         	<option value="">已发货未收货</option>    
                                         	<option value="">交易完成(已收货)</option>                                     
                                        </select>
                                         &nbsp;&nbsp;&nbsp;&nbsp;
                                                                                   请选择开始日期:
									<wui-date 
										format="yyyy-mm-dd" 
										placeholder="格式yyyy-mm-dd" 
										id="date1" 
										btns="{'ok':'确定','now':'此刻'}" 
										ng-model="date1">
									</wui-date>
									     &nbsp;&nbsp;&nbsp;&nbsp;
                                                                                   请选择截止日期:
									<wui-date 
										format="yyyy-mm-dd" 
										placeholder="格式yyyy-mm-dd" 
										id="date2" 
										btns="{'ok':'确定','now':'此刻'}" 
										ng-model="date2">
									</wui-date>  
                                  
                                        </select>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
									<button class="btn btn-default">查询</button> 
									<button class="btn btn-primary">导出报表</button>                                   
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
			                             <th class="sorting">订单号</th>			
			                             <th class="sorting">下单时间</th>			
			                             <th class="sorting">用户账号</th>			
			                             <th class="sorting">订单金额</th>			
			                             <th class="sorting">支付方式</th>			
			                             <th class="sorting">订单来源</th>			
			                             <th class="sorting">订单状态</th>			
										<th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr ng-repeat="order in orderList">
			                              <td><input  type="checkbox"></td>			                              
				                          <td>{{order.orderId}}</td>
				                          <td>{{order.createTime}}</td>
				                           <td>{{order.userId}}</td>
			                             <td>{{order.payment}}</td>
			                             <td>{{order.paymentType}}</td>
			                             <td>{{order.sourceType}}</td>
		                                 <td>{{order.status}}</td>
		                                  <td class="text-center">                                           
		                                 	  <a  class="btn bg-olive btn-xs" href="order_detail.html">订单详情</a>
		                                  </td>
			                          </tr>
			                          								 
			                      </tbody>
			                  </table>
							<!--数据列表/-->
							<tm-pagination conf="paginationConf"></tm-pagination>
			                  <!--数据列表/-->                        
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
		
</body>

<script>
//Date picker
$('#datepicker').datepicker({
    autoclose: true,
    format: 'mm/dd/yyyy'
});
</script>

</html>